In [30]:
suppressPackageStartupMessages({
    library(dplyr)
    library(readr)
    library(tidyr)
    library(tibble)
    library(biomaRt)
})

[Analysis Data](https://www.proteinatlas.org/download/rna_immune_cell_monaco.tsv.zip)

In [31]:
data <- read_tsv("rna_immune_cell_monaco.tsv.gz") %>% as.data.frame()
protein_atlas <- c(
"PTPRC", "TFRC", "CD74", "ITGAL", "CLEC4C", "EEA1", "RAB5A", "CD63", "RAB7A", "LAMP1"

)

celltype <- c(
  "Central memory CD8 T-cell", 
  "Effector memory CD8 T-cell", 
  "Exhausted memory B-cell", 
  "Memory CD4 T-cell TFH", 
  "Memory CD4 T-cell Th1", 
  "Memory CD4 T-cell Th1/Th17", 
  "Memory CD4 T-cell Th17", 
  "Memory CD4 T-cell Th2", 
  "naive B-cell", 
  "naive CD4 T-cell", 
  "naive CD8 T-cell", 
  "Non-switched memory B-cell", 
  "Plasmablast", 
  "Switched memory B-cell", 
  "T-reg", 
  "Terminal effector memory CD4 T-cell", 
  "Terminal effector memory CD8 T-cell", 
  "Vd2 gdTCR",
  "plasmacytoid DC"
)
# Filter and pivot the dataframe
filtered_df <- data %>%
  filter(`Gene name` %in% protein_atlas) %>%
  filter(`Immune cell` %in% celltype) %>%
  dplyr::select(-c(Gene, pTPM)) %>% 
  pivot_wider(names_from = "Gene name", values_from = "TPM") %>%
 dplyr::select(`Immune cell`, PTPRC, TFRC, CD74, ITGAL, CLEC4C, EEA1, RAB5A, CD63, RAB7A, LAMP1) %>%
 rename(Cell = `Immune cell`) %>% data.frame()
immune <- filtered_df
head(immune)

Rows: 604860 Columns: 5
── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (3): Gene, Gene name, Immune cell
dbl (2): TPM, pTPM

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Cell                       PTPRC  TFRC CD74    ITGAL CLEC4C EEA1 RAB5A CD63
1 Central memory CD8 T-cell  1110.6  7.6   709.3 185.0 0.2     5.9 46.1  47.8
2 Effector memory CD8 T-cell 1410.5 10.0  1828.8 347.7 0.5     5.8 57.9  71.3
3 Exhausted memory B-cell     335.3 23.0 16365.5  50.1 1.0    10.1 27.7  44.5
4 Memory CD4 T-cell TFH       998.3  8.0   498.2 133.5 0.3     5.0 33.8  26.5
5 Memory CD4 T-cell Th1       937.6 10.7   622.9 175.7 0.4     6.8 45.0  43.2
6 Memory CD4 T-cell Th1/Th17  954.2  7.5   545.4 168.6 0.4     4.7 46.1  52.7
  RAB7A LAMP1
1 161.1 10.5
2 205.8 12.2
3 112.2  4.7
4 151.8  3.9
5 158.8  8.9
6 168.1  8.5

In [43]:
emtab <- read_tsv("E-MTAB-6867-query-results.tsv", skip = 4)
genes <- c(
"PTPRC", "TFRC", "CD74", "ITGAL", "CLEC4C", "EEA1", "RAB5A", "CD63", "RAB7A", "LAMP1"

)
emtab <- emtab[emtab$`Gene Name` %in% genes, ]
emtab <- emtab %>%
    dplyr::select(-`Gene ID`) %>%
    dplyr::rename(Cell = `Gene Name`)

# Transpose the data
emtab <- t(emtab)

# Convert to a data frame
emtab <- as.data.frame(emtab)

colnames(emtab) <- as.character(emtab[1, ])
emtab <- emtab[-1, ]

# Convert columns to numeric, except for the first column (Cell)
emtab[-1] <- lapply(emtab[-1], as.numeric)
emtab$Cell <- rownames(emtab)
emtab <- emtab%>%
  dplyr::select(Cell, everything())
rownames(emtab) <- NULL
emtab <- emtab[5, ]
head(emtab)

Rows: 34104 Columns: 8
── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): Gene ID, Gene Name
dbl (6): ARH77, Daudi, NAMALWA, Raji, Ramos, Toledo

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Cell  ITGAL CD74 TFRC RAB7A PTPRC EEA1 CD63 RAB5A LAMP1 CLEC4C
5 Ramos  104  2333 175  344   99    13   32   72    70    NA

In [40]:
ccle <- read.table("CCLE_RNAseq_rsem_genes_tpm_20180929.txt.gz", header = TRUE, row.names = 1) 
# Select cells of interest
counts_subset <- ccle
patterns <- c("Raji", "Jurkat")
selected_columns <- colnames(counts_subset)[apply(sapply(patterns, function(p) grepl(p, colnames(counts_subset), ignore.case = TRUE)), 1, any)]
counts_subset <- counts_subset[, selected_columns]

# Clean up data
rownames(counts_subset) <- gsub("\\..*", "", rownames(counts_subset))
counts_subset <- as.matrix(counts_subset)
mart <- useMart("ensembl", dataset = "hsapiens_gene_ensembl")
ensembl_annot <- getBM(attributes=c("ensembl_gene_id","external_gene_name"),
                       filters = "ensembl_gene_id",
                       values = rownames(counts_subset), 
                       mart = mart)
cols <- as.data.frame(rownames(counts_subset))
new_names <- left_join(cols, ensembl_annot, by = c("rownames(counts_subset)" = "ensembl_gene_id"))
rownames(counts_subset) <- new_names$external_gene_name
count_df <- as.data.frame(counts_subset)
genes <- c(
"PTPRC", "TFRC", "CD74", "ITGAL", "CLEC4C", "EEA1", "RAB5A", "CD63", "RAB7A", "LAMP1"

)
filtered_df <- count_df[rownames(count_df) %in% genes, ]
filtered_df <- cbind(Cell = rownames(filtered_df), filtered_df)
filtered_df <- t(filtered_df)
filtered_df <- as.data.frame(filtered_df)
filtered_df$Cell <- rownames(filtered_df)
rownames(filtered_df) <- NULL
ccle <- filtered_df


ccle <- ccle[-1, ] %>%
        dplyr::select(`Cell`, PTPRC, TFRC, CD74, ITGAL, CLEC4C, EEA1, RAB5A, CD63, RAB7A, LAMP1) %>%
        mutate(Cell = recode(Cell, 
                           "JURKAT_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE" = "Jurkat", 
                           "RAJI_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE" = "Raji"))

In [49]:
round_to_sigfigs <- function(x, sigfigs) {
  ifelse(x == 0, 0, round(x, sigfigs - ceiling(log10(abs(x)))))
}

fin <- rbind(ccle, emtab, immune)
fin %>%
  mutate(across(everything(), ~ replace(., is.na(.), 0))) %>%
  mutate(across(where(is.numeric), ~ sprintf("%.1f", round_to_sigfigs(.x, 2))))

   Cell                                PTPRC   TFRC    CD74    ITGAL   CLEC4C
2  Jurkat                              101.50   60.68    1.37   12.15    0.00
3  Raji                                  91.00  115.81 2909.40   21.28    0.00
5  Ramos                               99      175     2333     104    0
1  Central memory CD8 T-cell           1110.6  7.6     709.3   185     0.2
21 Effector memory CD8 T-cell          1410.5  10      1828.8  347.7   0.5
31 Exhausted memory B-cell             335.3   23      16365.5 50.1    1
4  Memory CD4 T-cell TFH               998.3   8       498.2   133.5   0.3
51 Memory CD4 T-cell Th1               937.6   10.7    622.9   175.7   0.4
6  Memory CD4 T-cell Th1/Th17          954.2   7.5     545.4   168.6   0.4
7  Memory CD4 T-cell Th17              991.2   15.8    384.2   139.7   0.6
8  Memory CD4 T-cell Th2               793.3   14.2    440.2   112.1   0.4
9  naive B-cell                        386.9   6.3     17372.6 29.9    5.4
10 naive CD4 T-cell                    770.9   3.8     258.7   91.2    0.9
11 naive CD8 T-cell                    644.8   4.5     214     94.1    0.5
12 Non-switched memory B-cell          401.5   9.4     16940.7 36.6    2.1
13 Plasmablast                         57.1    28.2    1053.4  24.4    0.3
14 plasmacytoid DC                     215.7   59.3    20724.4 49.8    440.1
15 Switched memory B-cell              318.7   24.6    18816.4 45.6    1.4
16 T-reg                               914.7   12      582.8   112.9   0.4
17 Terminal effector memory CD4 T-cell 1617.5  6.5     739.6   409.3   0.2
18 Terminal effector memory CD8 T-cell 1173.5  10.8    1087.4  387.4   0.6
19 Vd2 gdTCR                           987.8   5.6     1302.3  239.5   0.2
   EEA1    RAB5A   CD63    RAB7A   LAMP1
2    3.67   30.64   93.76  107.26   55.28
3     7.06   14.21   53.42  121.16   32.35
5  13      72      32      344     70
1  5.9     46.1    47.8    161.1   10.5
21 5.8     57.9    71.3    205.8   12.2
31 10.1    27.7    44.5    112.2   4.7
4  5       33.8    26.5    151.8   3.9
51 6.8     45      43.2    158.8   8.9
6  4.7     46.1    52.7    168.1   8.5
7  7       54.6    44.3    191     9.1
8  7       44.5    45.4    169     6.6
9  4.8     34.5    32.4    114.1   4.9
10 11.9    39.3    16.1    157.7   6.3
11 8.9     36.7    20.5    150.7   5.7
12 7.6     31.5    41.3    140.6   3.4
13 1.4     23.4    20.3    39.7    2.6
14 4.7     81.7    68.6    193     18.1
15 10.8    35.2    34.6    135.2   7.1
16 7       54.3    35.3    165.7   8.6
17 9.2     59.2    73.5    188.4   10.3
18 5.3     48      191.5   184.9   9.2
19 5.4     44      106.7   178.5   4.1

In [50]:
write.csv(fin, "result.csv", row.names = FALSE)